/*
Mobile: 375px
Desktop: 1440px
*/
html{

*,*::before, *:after{
    box-sizing: inherit;
}
}

:root {
    --blanco:#ffffff; 
    --Cyan: hsl(179,62%,43%);
    --Cyan2: rgb(93, 182, 180);
    --BrightYellow: hsl(71,73%,54%);
    --LightGray: hsl(204,43%,93%);
    --GrayishBlue: hsl(218,22%,67%);
}
body{
    font-family: karla;
    font-weight: 400;
    font-size: 16px;
    background: var(--LightGray);
    margin: 2rem;
}
.flex-container{
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: nowrap;
}
.contenedor{
    display: grid;
    gap: 0;
    grid-template-areas: 'titulo titulo'
                          'box1 box2';
    justify-content: center; 
    padding: 2rem;
    width: 100%;
    margin: 1rem;
 }
 @media(max-width: 375px){
    .contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    }        
 }   

.titulo{    
    grid-area: titulo;
    background:var(--blanco);
    text-align: justify;
    padding: 2rem;   
    width: 100%; 
}
.titulo h1{
 color: var(--Cyan);
 font-weight: 700;
}
.titulo h2{
    color: var(--BrightYellow); 
    font-weight: 700;
}
.box1{
    grid-area: box1;
    background: var(--Cyan);
    color: var(--blanco);
    padding: 2rem; 
    width: 100%; 
}
.mayus {
   font-size:30px; 
   font-weight: 700;
}
.mayus span{
    font-size:16px; 
 }
.box2{
    grid-area: box2;
    background: var(--Cyan2);
    color: var(--blanco);
    padding: 2rem;  
    width: 100%;    
}
.colocar{
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;
    width: 90%;
}
.button{
    background: var(--BrightYellow);
    color: var(--blanco);
    border: none;
    border-radius: 0.2rem;
    font-family: karla;
    font-weight: 400;
    font-size: 16px;
    padding: 0.5rem 6rem;          
}


